demux:
  index_top_n: 384
  local_threads: 64
  nova_index: /path/to/nova_index
  nova_demux: /path/to/nova_demux
  reflow: /usr/local/bin/reflow
  reflow_demux: /path/to/demux.rf
  sample_n: 384
email:
  addresses_to_email:
  - sequencing.person@your.organization
  - another.person@your.organization
  addresses_to_email_on_error:
  - probably.you@your.organization
  password: "your seqbot's email password"
  username: seqbot.email@your.organization
local:
  scratch: /path/to/local/storage
  samplesheet_dir: /path/to/samplesheet_dir
logging:
  info: /path/to/info.log
  debug: /path/to/debug.log
s3:
  fastq_prefix: directory_for_fastqs
  seqbot_bucket: your-bucket
seqs:
  base: /path/to/sequencers
  dirs:
  - MiSeq-01
  - NextSeq-01
  - NovaSeq-01
  - iSeq100-01
  sentinels:
    MiSeq-01: RTAComplete.txt
    NextSeq-01: RunCompletionStatus.xml
    NovaSeq-01: SequenceComplete.txt
    iSeq100-01: RunCompletionStatus.xml
