demux:
  bcl2fastq: /usr/local/bin/bcl2fastq
  index_top_n: 384
  local_threads: 64
  split_nova_above: 384
  nova_index: /path/to/nova_index
  nova_demux: /path/to/nova_demux
  reflow: /usr/local/bin/reflow
  reflow_demux: /path/to/demux.rf
email:
  addresses_to_email:
  - sequencing.person@your.organization
  - another.person@your.organization
  addresses_to_email_on_error:
  - probably.you@your.organization
  username: seqbot.email@your.organization
local:
  index_cache: /path/to/cache_file
  scratch: /path/to/local/storage
  samplesheet_dir: /path/to/samplesheet_dir
  clean: True # or False, to keep fastqs around
logging:
  info: /path/to/info.log
  debug: /path/to/debug.log
s3:
  awscli: /path/to/awscli
  fastq_prefix: directory_for_fastqs
  samplesheet_prefix: directory_for_samplesheets
  seqbot_bucket: your-bucket
seqs:
  base:
  - /path/to/sequencers
  - /alternate/path/to/sequencers
  dirs:
  - MiSeq-01
  - NextSeq-01
  - NovaSeq-01
  - iSeq100-01
  sentinels:
    MiSeq-01: RTAComplete.txt
    NextSeq-01: RunCompletionStatus.xml
    NovaSeq-01: SequenceComplete.txt
    iSeq100-01: RunCompletionStatus.xml
