cache:
  demuxed: /path/to/cachefile
  samplesheet_dir: /path/to/samplesheet
demux:
  command_template:
  - /usr/local/bin/reflow
  - run
  - "-local"
  - "-localdir"
  - /path/to/local/storage
  - /path/to/demuf.rf
  sample_n: 384
email:
  addresses_to_email:
  - sequencing.person@your.organization
  - another.person@your.organization
  addresses_to_email_on_error:
  - probably.you@your.organization
  password: "your seqbot's email password"
  username: seqbot.email@your.organization
logging:
  info: /path/to/info.log
  debug: /path/to/debug.log
s3:
  fastq_prefix: directory_for_fastqs
  output_bucket: your-bucket
  samplesheet_bucket: your-other-bucket
seqs:
  base: /path/to/sequencers
  dirs:
  - MiSeq-01
  - NextSeq-01
  - NovaSeq-01
  sentinels:
    MiSeq-01: RTAComplete.txt
    NextSeq-01: RunCompletionStatus.xml
    NovaSeq-01: SequenceComplete.txt
